.header{
    width: 100%;
    height: 100%;
}
.bg_image{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bg_image{
    background-image: url(../images/pop_bg.jpg);
}
.home_part1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_part1_text{
    height: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.home_part1_text img{
    width: 100%;
    height: 34px;
    position: absolute;
    right: 0;
    top: 25px;
}
.part1_text{
    display: flex;
    flex-direction: column;
    position: relative;
}
.part1_text p{
    line-height: 1.9;
}
.part1_text span{
    font-size: 44px;
}
.home_part1_menu{
    height: 400px;
}
.part1_menu{
    width: 100%;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
}
.part1_menu_welcome{
    width: 45%;
    height: 163px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    margin: 10px;
    margin-right: 0;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.part1_menu_welcome:hover{
    background: #2C2A35;
    transition: 0.5s;
}
.part1_menu_welcome i{
    font-size:55px;
    color: white;
    margin-top: 25px;
}
#welcome_block{
    width: 900px;
    height: 536px;
    /*transform: translateY(0%);*/
    /*transition: 1s;*/
    /*transform: translateX(0px) translateY(0px) scaleX(1) scaleY(1);*/
    position: absolute;
    z-index: 9;
    background: #2C2A35;
    /*transition: width 2s;*/
    /*transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);*/
}
#welcome_block i{
    color: white;
    font-size: 35px;
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
}
.welcome_box{
    width: 100%;
    height: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome_title{
    width: 90%;
    height: 60px;
}
.welcome_texts{
    width: 90%;
    height: 410px;
    display: flex;
    justify-content: space-between;
}
.welcome_text{
    width: 48%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.welcome_text p{
    margin-top: 15px;
    line-height: 1.9;
    font-size: 17px;
}
#team_block{
    width: 900px;
    height: 656px;
    z-index: 1;
    position: absolute;
    background: #2C2A35;
    /*display: none;*/
}
#team_block i{
    color: white;
    font-size: 35px;
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
}
.team_box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team_title{
    width: 90%;
    height: 60px;
}
.team_texts{
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.team_text{
    width: 68%;
    height: 450px;
    display: flex;
    flex-direction: column;
}
.team_text button{
    width: 30%;
    height: 46px;
    background: #494752;
    border: none;
    color: white;
    font-size: 19px;
    margin-top: 30px;
}
.team_text button:hover{
    background: #77757d;
}
.team_img{
    width: 35%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team_text p{
    color: white;
    font-size: 17px;
    margin-top: 10px;
    line-height: 1.9;
}
#work_block{
    width: 900px;
    height: 551px;
    z-index: 1;
    position: absolute;
    background: #2C2A35;
}
#work_block i{
    color: white;
    font-size: 35px;
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
}
.work_box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}
.work_text{
    width: 90%;
    height: 200px;
    /*display: flex;*/
}
.work_text p{
    font-size: 17px;
    margin-top: 10px;
    margin-right: 25px;
    line-height: 1.9;
}
.work_carousel_block{
    width: 90%;
    height: 250px;
}
.work_carousel{
    width: 100%;
    height: 250px;
}
.work_carousel_block img{
    width: 160px;
    height: 170px;
    margin-left: 20px;
}
.next_btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -20px;
    top:-70px;
    background-color: #77757d;
}
.prev_btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -20px;
    top: -70px;
}
.containerClassName{
    position: relative;
    top:60px;
}
#contact_block{
    width: 900px;
    height: 716px;
    z-index: 1;
    position: absolute;
    background: #2C2A35;
}
#contact_block i{
    color: white;
    font-size: 35px;
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
}
.contact_box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_form{
    width: 80%;
    height: 600px;
}
.contact_box p{
    color: white;
    font-size: 17px;
    margin-top: 15px;
    line-height: 1.9;
}
.contact_box_inputs{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
}
.contact_box_inputs input{
    width: 48%;
    height: 50px;
    background: #353541;
    border: none;
    padding:10px;
    font-size: 18px;
}
.contact_form textarea{
    width: 100%;
    height: 260px;
    background: #353541;
    border: none;
    font-size: 18px;
    color: #757575;
    padding: 10px;
}
.contact_form button{
    width: 20%;
    height: 46px;
    border: none;
    font-size: 19px;
    margin-top: 10px;
    background: #006599;
    color: white;
}
.btn_close{
    color: white;
    font-size: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}